.gcloudignore
.git
.gitignore

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.uv/

# Node
node_modules/
.next/
dist/

# Go
*.so
main.exe

# Terraform
.terraform/

# App specific
python/runs/
python/eval_data/

# Common large files
*.pt
*.pth
*.pkl
.ipynb_checkpoints/
.idea/
.vscode/
*.zip
*.tar.gz
*.tgz
