# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Python
__pycache__/
*.pyc
.venv/
.uv/
.pytest_cache/

# Node
node_modules/
.next/
dist/

# Go
*.so
main.exe

# App specific
python/runs/
python/eval_data/

# OS specific
.DS_Store
